* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-image: url(background.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}


/* info-top */

.info-top {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 800px;
}

.info-top .logo {
    margin-top: 80px;
}

.info-top .logo .fa.fa-check {
    font-size: 65px;
    color: red;
    margin-left: 48px;
}

.info-top .logo b {
    font-size: 42px;
    color: red;
}

.info-top .logo p {
    font-size: 24px;
    font-weight: bold;
}


/* info_member */

.info_member {
    width: 100%;
    height: 250px;
    padding-left: 30%;
    padding-top: 3%;
    background-color: beige;
}

.info_member h3 {
    color: red;
}

.info_member ul {}

.info_member ul li {
    padding-left: 20px;
    list-style: none;
    font-size: 23px;
}


/* container */

.contain {
    background-color: beige;
}

.contain .case {
    width: 100%;
    height: 400px;
    padding-left: 20%;
}

.contain .case h2 {
    color: red;
}

.contain .case h2 ul {}

.contain .case ul li {
    list-style: none;
}

.contain .feature {
    padding-left: 15%;
}

.contain .feature h2 {
    color: red;
}

.contain .storage {
    padding-left: 10%;
}

.contain .storage h2 {
    color: red;
}